/* ====== General ====== */
body {
    background: #fff;
    color: #666666;
    font-family: "Open Sans", 'IBM Plex Sans Arabic', sans-serif;
  }
  
  a {
    text-decoration: none;
    color: #03C4EB;
    transition: 0.5s;
  }
  
  a:hover, a:active, a:focus {
    color: #03c5ec;
    outline: none;
    text-decoration: none;
  }
  
  p {
    padding: 0;
    margin: 0 0 30px 0;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", 'Noto Kufi Arabic', sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
  }
/* ========== FAIR Principle Section ========== */
  .fair__principle__header {
    text-align: center;
    margin-top: 2rem;
  }

  .fair__principle__text:nth-child(2) p {
    text-indent: 2rem;
  }

  .image__container {
    padding: 2rem;
  }

/* ========== End of Section ========== */


/* ========== Video Section ========== */
.fair__principle__yt__video {
    padding: 3rem;
}